
/* main layout 
=================== */
.container {
    width: 1200px;
    margin: 0 auto;
}

/*wrapper-content section*/
.wrapper-content{
    width: 1200px;
    margin: 0 auto;
    display: block;
    overflow: auto;
}

    .wrapper-content .content{
        width: 960px;
        float: left;
    }

    .wrapper-content aside {
        width: 240px;
        float: right;
    }

        .wrapper-content aside .download-mazzanine {
            background: rgb(229, 226, 222);
            margin: 5px 0px 5px 0px;
            padding: 5px 0px 5px 5px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }

    .install-mazzanine {
        margin: 0px 10px 0px 5px;
        background: #222;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
        .install-mazzanine .break-line-comment{
            padding-top: 15px;
        }

        .install-mazzanine .text{
            margin-left: 15px;
            font-size: 12px;
        }

        .install-mazzanine .break-line-code {
            padding-bottom: 15px;
        }

    .download-mazzanine .quick-start{
        color: black;
        text-align: center;
        margin: 20px 0px 20px 0px;
    }

    .button-get{
        margin: 5px 10px 5px 8px;
        padding: 10px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

        .button-get a{
        text-align: center;
        }

    .sidebar-intro .nav {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .nav ul {
        list-style: none;
        margin-top: 10px
}

    .nav li {
        font-weight: bold;
    }

        .nav li a{
            color: black;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .nav li img {
            margin-right: 10px;
        }

        .nav li a:hover{
            text-decoration: underline;
            font-weight: bold;
        }

        .nav .nav-text {
            margin-left: 10px;
            margin-top: 10px;
        }

    .sidebar-intro .image-bg {
        background: rgb(189, 54, 47);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 5px;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;     
        vertical-align: middle;
    }

    .done-info {
        margin: 15px 15px 0px 0px;
    }

        .done-info p{
            font-size: 13px;
            font-style: italic;
            margin-left: 10px;
        }

    .donate-image {
        margin: 15px;
    }

/* overview section*/
.content .overview {
    margin-top: 40px;
    margin-right: 20px;
}

    .overview p {
        margin: 15px 0px 0px 0px;
    }

/* feature section*/
.feature {
    margin-top: 30px;
}

    a.view-all {
        text-decoration: none;
        color: #999;
        margin-left: 433px; 
    }

    a.view-all:hover {
        text-decoration: underline;
        color: #999;
    }

    .feature .carosel-wrapper{
        margin: 25px 10px 30px 10px;
        background: rgb(229, 226, 222);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        height: 220px;
    }

.carosel {
    margin-bottom: 10px;
}

    .carosel img {
        margin: 20px 30px 5px 20px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: 0 0 10px #666;
        -moz-box-shadow: 0 0 10px #666;
        -webkit-box-shadow: 0 0 10px #666;
    }

.arrow-left {
    float: left;
    margin: 80px 31px 0px 0px;
}

    .arrow-left img {
        margin-left: 20px;
    }

.arrow-right {
    float: right;
    margin: -110px 0px 0px 10px;
}

    .arrow-right img {
        margin-right: 20px;
    }

.arrow {
    opacity: 0.5;
}

    .arrow:hover {
        opacity: 3;
        cursor: pointer;
    }

/* loves section*/

.loves {
    margin-bottom: 40px;
    display: box;
    display:-moz-box;
    display:-webkit-box;
}

.loves .user-love {
    margin: 30px 10px 0px 5px;
    width: 45%; 
}
    .user-love .left {
        float: left;
    }

    .user-love .right {
        float: right;
    }

    .loves ul {
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .loves li {
        margin-bottom: 0.6em;
        color: #777;
    }


/* sidebar section*/

/* blog section*/

.blog {
    overflow: auto;
    width: 1200px;
}

    .blog .btn-visit {
        margin: 5px auto;
        padding: 6px 12px 6px 12px;
        text-transform: uppercase;
        display: inline-block;
        background: rgb(189, 54, 47);
        color: white;
        font-size: 17px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .blog-content { 
        text-align:left;
        width: 20em;
        float: left;
        margin:2em 1.4em 0em 0em;
    }

    .blog-content .clear-bottom {
        margin-bottom: 10px;
    }

/*recent post section*/

.recent-mention {
    margin-top: 30px;
    background: rgb(229, 226, 222);
    width: 1300px;
    overflow: auto;
}

    .recent-mention .metion-title {
        padding: 40px 50px 5px;
    }

    .mention-content {
        text-align: left;
        width: 27em;
        float: left;
        margin-top: 2em;
        margin-left: 3.6em;
        margin-right: 0.2em;
        margin-bottom: 2.5em;
    }

    .mention-content li{
        list-style: none;
        margin-bottom: 1.2em;
    }
