/*header section*/
header{
    height: 16em;
    width: 85em;
    margin: 4em;
    border-bottom: 0.23em solid rgb(229, 226, 222);
}

        header .logo {
            float: left;
        }

        header .sologan {
            margin: 0 auto;
            display: inline-block;
            width: 730px;
        }
            header .sologan .sologan-header {
                margin: 15px 20px 0px 0px;
                padding-left: 20px;
                width: 27em;
                line-height: 1.1em;
            }

            header .sologan .sologan-content {
                line-height: 20px;
                color: #999;
                margin-top: 15px;
                margin-left: 20px;
            }

            header .sologan .sologan-intro {
                margin-left: 0.8em;
                font-style: italic;
            }

            header .sologan .sologan-author {
                white-space: nowrap;
            }

.description{
    width: 220px;
    float: right;
}

    .description a {
        text-decoration: none;
    }

    .description .demo{
        margin: 16px auto;
        padding: 10px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

        .description .demo .demo-text{
            text-align: center;
        }

.uppercase {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.fork {
    position: absolute;
    top: 0em;
    right: 0em;
}

/* Footer section */
footer{
    margin: 0 auto;
    text-align: center;
}

    footer .credit{
        margin: 40px 0px 20px 0px;
    }

    footer .branch-image{
        margin-bottom: 50px;
    }