/* resets and override 
=================== */
@import url('reset.css');

/* link and type 
=================== */
body{
	margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}


.red {
	background: rgb(189, 54, 47);
}

.brown{
	background: rgb(229, 226, 222);
}

h1 {
	text-transform: uppercase;
    color: rgb(189, 54, 47);
    font-size: 22px;
}

.hint {
	text-decoration: none;
	color: #197499;
}

.italic {
	color: #999;
	font-style: italic;
}

.tiny-font {
	font-size: 13px;
}

.hint:hover {
	text-decoration: underline;
	color: #0088cc;;
}

.code {
	color: #08c;
	font-size: 13px;
}

.comment {
	color: #555;
	font-size: 13px;
	font-style: italic;
}

.bold {
	font-weight: bold;
}

p{
	color: #777;
	line-height: 21px;
}

.icon {
	float: left;
    opacity: 0.5;
    margin-top: -3px;

}

.icon:hover {
	opacity: 1;
}

/* main layout 
=================== */
.container {
	width: 1200px;
	margin: 0 auto;
}
/*top bar*/
.top-bar{
	width: 1300px;
	height: 35px;
	background:rgb(229, 226, 222);
}

/*header section*/
.header{
	
	height: 170px;
	display: block;
	margin: 50px 10px 30px 10px;
}

.header .logo{
	float: left;
	width: 150px;
}

.header .sologan{
	margin: 0 auto;
    display: inline-block;
	width: 730px;
}

.header .sologan p{
	line-height: 20px;
    color: #999;
    margin-top: 15px;
    margin-left: 20px;
   
}

.sologan h1 {
	margin: 15px 20px 0px 0px;
	padding-left: 20px;
}

.description{
	width: 220px;
	float: right;
}

.description a {
	text-decoration: none;
}

.description .info p{
	border:1px dotted #FF5000; 
	margin: -50px 30px 5px 15px;
}

.description .demo{
	margin: 5px auto;
	padding: 10px;
	border-radius: 5px;
}

.description .demo p{
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
	color: white;
}

/* line section*/
.line {
	width: 1200px;
	height: 4px;
	background:rgb(229, 226, 222);
}
/*wrapper-content section*/
.wrapper-content{
	width: 1200px;
	margin: 0 auto;
	display: block;
	overflow: auto;
}

.wrapper-content .content{
	width: 970px;
	float: left;
}

.wrapper-content .sidebar {
	width: 230px;
	float: right;
}

.wrapper-content .sidebar .download-mazzanine {
	background: rgb(229, 226, 222);
	margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 5px;
	border-radius: 5px;
}

.install-mazzanine {
	margin-left: 20px;
	background: #222;
	border-radius: 3px;
	margin: 0 auto;
	width: 220px;
}

.download-mazzanine h1{
	color: black;
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.button-get{
	margin: 5px 5px;
	padding: 10px;
	border-radius: 5px;
}

.download-mazzanine a {
	text-decoration: none;
}
.button-get a{
	text-align: center;
}

.install-mazzanine p{
	margin-left: 15px;
}

.sidebar-intro .nav {
	margin-left: 20px;
	margin-top: 20px;
}

.sidebar-intro .nav .nav-text{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 14px;
	margin-left: 10px;
	font-weight: bold;
}

.sidebar-intro .nav a:hover{
	text-decoration: underline;
	font-weight: bold;
}

.sidebar-intro .image-bg {
	background: rgb(189, 54, 47);
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.done-info {
	margin: 15px 15px 0px 0px;
}

.done-info p{
	font-size: 13px;
	font-style: italic;
	margin-left: 10px;
}

.donate-image {
	margin: 15px;
}

/* overview section*/
.content .overview {
	margin-top: 40px;
	margin-right: 20px;
}

.overview p {
	margin: 15px 0px 0px 0px;
}

/* feature section*/
.feature {
	margin-top: 30px;
}

a.view-all {
	text-decoration: none;
	color: #999;
	margin-left: 433px;	
}

a.view-all:hover {
	text-decoration: underline;
	color: #999;
}

.feature .carosel-wrapper{
	margin: 25px 10px 30px 10px;
	background: rgb(229, 226, 222);
	border-radius: 5px;
	height: 220px;
}

.carosel {
	margin-bottom: 10px;
}

.carosel img {
	margin: 20px 30px 5px 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px #666;
}

.arrow-left {
	float: left;
	margin: 80px 31px 0px 0px;
}

.arrow-right {
	float: right;
	margin: -110px 0px 0px 10px;
}

.arrow {
	opacity: 0.5;
}

.arrow-left img {
	margin-left: 20px;
}

.arrow-right img {
	margin-right: 20px;
}

.arrow:hover {
	opacity: 1;
}


/* loves section*/
.loves .user-love {
	float: left;
	margin: 30px 10px 0px 5px;
	display: inline-block;
	width: 45%;	
}

.loves .develop-love {
	float: right;
	display: inline-block;
	margin: 30px 10px 0px 5px;
	width: 45%;
}

.loves ul {
	margin-top: 15px;
	margin-left: 20px;
}

/* sidebar section*/

/* blog section*/
.blog {	
	margin-top: 30px;
	display: inline-block;
}

.blog table {
	margin: 30px 0px 15px 0px;
}
.blog table .blog-content{
	padding-right: 35px;
}

.blog table .btn-visit {
	margin: 5px auto;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	text-transform: uppercase;
    background: rgb(189, 54, 47);
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
}
 .blog table td{
    padding-bottom: 30px;
 }

/*recent post section*/
.recent-mention {
	background: rgb(229, 226, 222);
    width: 1300px;
    height: 400px;
    margin: 0 auto;
}

.recent-mention h1 {
	padding: 40px 50px 5px;
}

.recent-mention table {
	margin: 20px 37px;
}

.recent-mention td {
	padding: 5px 8px 8px 11px;
}

/* Footer section */
.footer{
	margin: 0 auto;
	text-align: center;
}

.footer .credit{
	margin: 40px 0px 20px 0px;
}

.footer .branch-image{
	margin-bottom: 50px;
}

/* seconds layout 
=================== */


/* form elements 
=================== */


/* misc 
=================== */
